:root {
  --el-color-primary: var(--color-primary);
  --el-color-danger: var(--color-danger);
  --el-color-warning: var(--color-warning);
  --el-color-success: var(--color-success);
  --el-border-radius-base: 6px;
}
